@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Kanit', sans-serif;
}

.body{
  background: url("https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80");
.wrapper  {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  nav{
    border-radius: 1em;
    background-color: rgba($color: #7e81973d, $alpha: 0.5);
    padding: 0 30px;
    display: flex;
    height: 5em;
    align-items:center;
    justify-content:space-between;
    .logo{
      text-align: center;
      color:red;
      font-weight:bold;
      font-size: 2em;
      width: 20%;
    }
    ul.menu{
      width: 50%;
      justify-content:space-between;
      list-style:none;
      display:flex;
      font-size: 1.25em;
      a{
        text-decoration:none;
        color:#fff;
        transition: .4s;
        border-bottom: 2 px solid transparent;
        padding-bottom: .5em;
        border-top: 2 px solid transparent;
        padding-top: .5em;
        
        &:hover{
          padding-top: 0;
          padding-bottom: 0;
          border-top: 2px solid #333;
          border-bottom: 2px solid #333;
          
        }
      }
    }
  } 
}
.content{
  padding: 2em 0;
  margin: 1em 0;
  width: 100%;
  height:600px ;
  display: grid;
  justify-content: center;
  .title{
    text-align: center;
    color: #fff;
    display: block;
    padding: 20px;
    margin: 20px;
    background-color: rgba($color: #46444449, $alpha: 0.5);
    border-radius: 10px;
    h3{
      font-size: 60px;
    }
  } 
}
footer{
  padding-top:2em;
  border-top:1px solid #eee;
  text-align:center; 
}
}